html {
    height: 300px !important;
}
body {
    -webkit-user-select: none;
    font: 14px "Montserrat";
    color: rgba(0, 0, 0, 0.77);
    font-weight: 300;
    padding-left: 0px;
    padding-top: 0px;
    background: -webkit-linear-gradient(top, #f2fbff 0%, #ffffff 64%) no-repeat;
    background: -moz-linear-gradient(top, #f2fbff 0%, #ffffff 64%) no-repeat;
    background: -ms-linear-gradient(top, #f2fbff 0%, #ffffff 64%) no-repeat;
    background: linear-gradient(to bottom, #f2fbff 0%, #ffffff 64%) no-repeat;
}

h2 {
    font-weight: 500;
    font-size: 20px;
    color: #ff8a00;
}

.title {
    margin-top: 10px;
    text-align: center;
}

.logo {
    margin-left: auto;
    margin-right: auto;
    width: 230px;
    margin-top: 25px;
}

.wrap {
    width: 450px;
    margin-left: 0;
    margin-right: 0;
}

.btnRow {
    display: inline-block;
}

label {
    display: block;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

input[type="radio"] {
    position: absolute;
    opacity: 0;
}

input[type="radio"].ios-switch+div {
    vertical-align: middle;
    width: 40px;
    height: 20px;
    border: 1px solid rgba(0, 0, 0, .4);
    border-radius: 999px;
    background-color: rgba(0, 0, 0, 0.1);
    -webkit-transition-duration: .4s;
    -webkit-transition-property: background-color, box-shadow;
    box-shadow: inset 0 0 0 0px rgba(0, 0, 0, 0.4);
    margin: 15px 15px 15px 1rem;
    cursor: pointer;
}

input[type="radio"].ios-switch:checked+div {
    width: 40px;
    background-position: 0 0;
    background-color: #3b89ec;
    border: 1px solid #0e62cd;
    box-shadow: inset 0 0 0 10px rgba(59, 137, 259, 1);
}

input[type="radio"].tinyswitch.ios-switch+div {
    width: 34px;
    height: 18px;
}

input[type="radio"].tinyswitch.ios-switch:disabled+div {
    cursor: not-allowed !important;
}

input[type="radio"].ios-switch+div>div {
    float: left;
    width: 18px;
    height: 18px;
    border-radius: inherit;
    background: #ffffff;
    -webkit-transition-timing-function: cubic-bezier(.54, 1.85, .5, 1);
    -webkit-transition-duration: 0.4s;
    -webkit-transition-property: transform, background-color, box-shadow;
    -moz-transition-timing-function: cubic-bezier(.54, 1.85, .5, 1);
    -moz-transition-duration: 0.4s;
    -moz-transition-property: transform, background-color;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0px 0px 0 1px rgba(0, 0, 0, 0.4);
    pointer-events: none;
    margin-top: 1px;
    margin-left: 1px;
}

input[type="radio"].green.ios-switch:checked + div {
	background-color: #00e359;
	border: 1px solid rgba(0, 162, 63,1);
	box-shadow: inset 0 0 0 10px rgba(0,227,89,1);
}

input[type="radio"].ios-switch:checked+div>div {
    -webkit-transform: translate3d(20px, 0, 0);
    -moz-transform: translate3d(20px, 0, 0);
    background-color: #ffffff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0px 0px 0 1px rgba(8, 80, 172, 1);
}

input[type="radio"].tinyswitch.ios-switch+div>div {
    width: 16px;
    height: 16px;
    margin-top: 1px;
}

input[type="radio"].green.ios-switch:checked+div>div {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(0, 162, 63, 1);
}

input[type="radio"].tinyswitch.ios-switch:checked+div>div {
    -webkit-transform: translate3d(16px, 0, 0);
    -moz-transform: translate3d(16px, 0, 0);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0px 0px 0 1px rgba(8, 80, 172, 1);
}